.woo_vm_version_table {
    color:#333;
    width:100%;
}
    .woo_vm_version_table th {
        border-bottom:1px solid #ddd;
        padding-bottom:0.2em;
    }
    .woo_vm_version_table td {
        border-bottom:1px solid #f9f9f9;
        padding:0.3em 0;
    }
    .woo_vm_version_table td.version, .woo_vm_version_table td.status {
        font-size:12px;
    }
    .woo_vm_version_table td.version {
        color:#666;
    }
        .woo_vm_version_table td.version span {
            font-size:13px;
            color:#333;
        }
    .woo_vm_version_table td.status {
        text-align:center;
        border:1px dotted #ddd;
    }
        .woo_vm_version_table td.status .green {
            color:#008000;
        }
        .woo_vm_version_table td.status .red {
            color:#ff0000;
        }
        .woo_vm_version_table td.status .yellow {
            color:#e66f00;
        }
#woo_vm_status_widget p {
    font-size:12px;
}
#woo_vm_status_widget .message {
    color:#000;
    font-size:12px;
    margin-bottom:1em;
    padding:9px 9px 8px 9px;
    background-color:#ffffe0;
    border-color:#e6db55;
    border-width:1px;
    border-style:solid;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#woo_vm_status_widget .link {
    text-align: right;
}

.popup {
	position: absolute;
    z-index: 100;
    top: 30px;
    background: lightgray;
    width: 600px;
    margin: auto 0;
    border: 1px solid gray;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	display: none;
}

.popup-form {
	/* height: 80vh; */
	overflow: scroll;
}

.close-form {
	position: absolute;
    left: auto;
    right: 0;
    width: 29px;
    height: 29px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out;
}

.popups-overlay {
	background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
	display: none;
}

.popup-title {
	color: #1d2327;
    font-size: 1.3em;
	font-weight: 600;
}

.form-title-bar {
	margin: 20px 0;
	text-align: center;
}

.tb-close-icon {
	color: #444;
}

.close-icon {
	cursor: pointer;
	text-align: center;
    line-height: 29px;
    width: 29px;
    height: 29px;
}

.close-icon:before {
	content: "\f158";
	font: normal 20px/29px dashicons;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-fon;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.popup-form .form-table th {
    padding: 20px;
}

.popup-form .table-ticket.form-table th, .popup-form .table-event.form-table th, .popup-form .form-badge.form-table th {
    padding: 5px;
}

.popup-form .table-ticket.form-table td, .popup-form .table-event.form-table td, .popup-form .form-badge.form-table td {
    padding: 5px;
}

.popup-form .table-event.form-table td.padded, .popup-form .table-ticket.form-table td.padded {
	padding-bottom: 20px;
}

.form-table {
	margin: 30px auto;
	width: 90%;
}

.table-first {
	margin-top: 0;
}

#new-event-popup .form-title-bar {
	margin-bottom: 0px;
}

#new-event-popup .form-title-bar .popup-title {
	font-size: 1.7em;
}

.table-ticket.form-table, .table-badge.form-table {
    border-top: 1px solid gray;
}

.form-table th {
	vertical-align: baseline;
}

.form-subsection-title {
	color: #1d2327;
    font-size: 1.3em;
    margin: 1em 0;
}

.form-table.submit-button td {
	padding: 0;
}

.ts-welcome-panel {
	background: white;
	padding: 15px;
	border: 1px solid lightgray;
	margin: 10px;
	border-radius: 5px;
}

.ts-welcome-panel .dashicons-yes {
	color: green;
}

.ts-welcome-panel .dashicons-no {
	color: red;
}

.ts-welcome-panel h3 {
	margin-top: 0;
}

.popup-form .form-table.table-badge th {
    padding: 20px 0;
}

canvas {
	border: 1px solid gray;
	max-width: 100%;
}

table#events.bordered-table th {
	border-left: 1px solid lightgray;
    text-align: center;
}

table#events .badge-background, #event-request-popup img#badge_file_preview {
	width: 100%;
}

.badge-canvas {
	display: none;
}

.toggle-badge-details, .badge-show-preview {
	/* display: block; */
    font-size: 10px;
}

#new-event-button, #new-ticket-button {
	margin: 10px 0;
}

img.badge-background {
	border: 1px lightgray solid;
}