.woo_vm_version_table {
    color:#333;
    width:100%;
}
    .woo_vm_version_table th {
        border-bottom:1px solid #ddd;
        padding-bottom:0.2em;
    }
    .woo_vm_version_table td {
        border-bottom:1px solid #f9f9f9;
        padding:0.3em 0;
    }
    .woo_vm_version_table td.version, .woo_vm_version_table td.status {
        font-size:12px;
    }
    .woo_vm_version_table td.version {
        color:#666;
    }
        .woo_vm_version_table td.version span {
            font-size:13px;
            color:#333;
        }
    .woo_vm_version_table td.status {
        text-align:center;
        border:1px dotted #ddd;
    }
        .woo_vm_version_table td.status .green {
            color:#008000;
        }
        .woo_vm_version_table td.status .red {
            color:#ff0000;
        }
        .woo_vm_version_table td.status .yellow {
            color:#e66f00;
        }
#woo_vm_status_widget p {
    font-size:12px;
}
#woo_vm_status_widget .message {
    color:#000;
    font-size:12px;
    margin-bottom:1em;
    padding:9px 9px 8px 9px;
    background-color:#ffffe0;
    border-color:#e6db55;
    border-width:1px;
    border-style:solid;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#woo_vm_status_widget .link {
    text-align: right;
}

.popup {
	position: absolute;
    z-index: 100;
    top: 30px;
    background: lightgray;
    width: 600px;
    margin: auto 0;
    padding: 20px;
    border: 1px solid gray;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	display: none;
}

.popup-form {
	/* height: 80vh; */
	overflow: scroll;
}

.close-form {
	position: absolute;
    left: auto;
    right: 0;
    width: 29px;
    height: 29px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out;
}

.popups-overlay {
	background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
	display: none;
}

.popup-title {
	color: #1d2327;
    font-size: 1.3em;
	font-weight: 600;
}

.form-title-bar {
	text-align: center;
}

.tb-close-icon {
	color: 888;
}